<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/426c9f47-607f-41ef-ba62-ec9cb110ca90/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/DotNetAppSqlDb20170802123531</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dotnetappsqldb20170802123531.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dotnetappsqldb20170802123531.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DotNetAppSqlDb20170802123531</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DotNetAppSqlDb20170802123531</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dotnetappsqldb20170802123531dbserver.database.windows.net,1433;Initial Catalog=DotNetAppSqlDb20170802123531_db;User ID=jojojen@dotnetappsqldb20170802123531dbserver;Password=jen-19920218" Name="Data Source=tcp:dotnetappsqldb20170802123531dbserver.database.windows.net,1433;Initial Catalog=DotNetAppSqlDb20170802123531_db;User Id=jojojen@dotnetappsqldb20170802123531dbserver;Password=jen-19920218" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DotNetAppSqlDb.Models.MyDatabaseContext, DotNetAppSqlDb" MigrationConfiguration="DotNetAppSqlDb.Migrations.Configuration, DotNetAppSqlDb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dotnetappsqldb20170802123531dbserver.database.windows.net,1433;Initial Catalog=DotNetAppSqlDb20170802123531_db;User Id=jojojen@dotnetappsqldb20170802123531dbserver;Password=jen-19920218</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>